{
  "presets": [ "@babel/react", [ "@babel/preset-env" ] ],
  "plugins": [
    [ "@babel/plugin-transform-runtime", { "regenerator": true } ]
  ],
  "env": {
    "test": {
      "presets": [ "@babel/react", [ "@babel/preset-env" ] ],
      "plugins": [
        [ "@babel/plugin-transform-runtime", { "regenerator": true } ]
      ]
    },
    "production": {
      "presets": [
        "@babel/react",
        [ "@babel/preset-env" ],
        "minify"
      ],
      "plugins": [
        [ "@babel/plugin-transform-runtime", { "regenerator": true } ]
      ],
      "comments": false
    }
  }
}
