{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "standard",
  "plugins": [ "standard" ],
  "rules": {
    "no-unused-vars": "off"
  }
}
