{
  "env": {
    "es2020": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": "standard",
  "plugins": [
    "standard"
  ]
}
