{
  "env": {
    "es2020": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "plugin:react/recommended",
    "standard",
    "standard-react"
  ],
  "plugins": [
    "standard"
  ]
}
