@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body, html {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #26262B;
}

%title {
  color: #FFFFFF;
  font-family: 'Roboto Mono', monospace;
}

%text {
  color: #FFFFFF;
  font-family: 'Inconsolata', monospace;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0px 20px 0px;

  h1 {
    @extend %text;
    font-size: 50px;
  }

  p {
    margin: 0px 0px 5px 0px;
    @extend %text;
  }
}

.link {
  color: inherit;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  .tile {
    flex: 1 0 45%;
    margin: 25px;

    p {
      font-weight: bold;
      @extend %title;

      a {
        color: inherit;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 0px;
  text-align: center;

  p {
    margin: 5px 0px 5px 0px;
    @extend %text;
  }
}
